[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vibrantink"]
	path = bundle/vibrantink
	url = git://github.com/vim-scripts/vibrantink.git
[submodule "bundle/vylight"]
	path = bundle/vylight
	url = git://github.com/vim-scripts/vylight.git
[submodule "bundle/prolog"]
	path = bundle/prolog
	url = git://github.com/adimit/prolog.vim.git
[submodule "bundle/applescript"]
	path = bundle/applescript
	url = git://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/blackboard"]
	path = bundle/blackboard
	url = git://github.com/vim-scripts/blackboard.vim.git
[submodule "bundle/go"]
	path = bundle/go
	url = git://github.com/vim-scripts/go.vim.git
[submodule "bundle/httplog"]
	path = bundle/httplog
	url = git://github.com/vim-scripts/httplog.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = git://github.com/vim-scripts/railscasts.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "bundle/tutticolori"]
	path = bundle/tutticolori
	url = git://github.com/vim-scripts/TuttiColori-Colorscheme.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-cute-python"]
	path = bundle/vim-cute-python
	url = git@github.com:riobard/vim-cute-python.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/vim-scripts/cocoa.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
